<%- include("partials/header"); -%>
<script src="/assets/js/games.js"></script>
<style>
    body
    {
        background-image: url();
        background-size: contain;
        background-color: white;
        background-repeat: no-repeat;
        backdrop-filter: blur(1px);   
    }
   .content h1
   {
       text-align: center;
        font-size: 80px;
        margin: 0 35%;
        background-color: #588096;
        color: white;

   }
   img
   {
       height: 63px;
       width: 63px;
       border-radius: 550px;
   }
</style>
<br><br><br><br><br><br><br>
    
<section id="about" class="about">
    <div class="container">

      <div class="row content">
        <div  data-aos="fade-right" data-aos-delay="100">
          <h2>MIND GAMES</h2>
          <br><br>
          <h3>Lifestyle habits matter when it comes to brain health, and the rewards of increased mental stimulation 
            can be seen in a very short space of time.
            </h3>
        </div>
        </div>
      </div>

    </div>
  </section>

    
  <section id="services" class="services">
    <div class="container">

        <div class="col-lg-15">
          <div class="row" >
            <div class="col-md-6 d-flex align-items-stretch">
              <div class="icon-box" style="background-color: whitesmoke;" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon"><img src="https://image.yaksgames.com/v2/game/a/4/a/a4a52580a2f116769f26acb333b74eb8.jpg?w=200"></div>
                <h4><a href="">Weave Silk</a></h4>
                <p>Weavesilk--Generative Art, also known as Silk, is an amazing free online art tool that allows 
                    you to create colorful digital drawings. Silk was made by Yuri Vishnevsky, with music and sound
                     crafted by Mat Jarvis.On this website, you can draw beautiful flowing art with Silk. With 
                     Silk's award-winning magic brush, anyone can be an artist. Relax, express yourself, 
                     and create mandalas and wallpapers. With the swish of a finger, Silk strands mingle and fuse, 
                     weaving together into wonderful works of art.</p>
              </div>
            </div>

            <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
              <div class="icon-box"  style="background-color: whitesmoke;"data-aos="zoom-in" data-aos-delay="200">
                <div class="icon"><img src="https://images.unsplash.com/photo-1599669454699-248893623440?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGhlYWRwaG9uZXN8ZW58MHx8MHx8&w=1000&q=80"></div>
                <h4><a href="">Noisless</a></h4>
                <p>Noisless is a well integrated music tool.You can create your own music using various environmental elements.
                    You can control the intensity of the sounds and can also switch through various modes like productive
                    ,random or relaxing.Create your own music and bring out the artist in you..</p>
              </div>
            </div>

            <div class="col-md-6 d-flex align-items-stretch mt-4">
              <div class="icon-box"  style="background-color: whitesmoke;" data-aos="zoom-in" data-aos-delay="200" >
                <div class="icon"><img></div>
                <h4><a href="">Hospitals</a></h4>
                <p>Check the availabilty/information of required organs/blood in Hospitals near you</p>
              </div>
            </div> 
            
            <div class="col-md-6 d-flex align-items-stretch mt-4">
              <div class="icon-box"  style="background-color: whitesmoke;" data-aos="zoom-in" data-aos-delay="400">
                <div class="icon"><img></div>
                <h4><a href="">Oxygen Cylinders</a></h4>
                <p>Check the availabilty of Oxygen cylinders in various medical stores/hospitals/companies near you</p>
              </div>
            </div>              

          </div>
        </div>


    </div>
  </section>


<%- include("partials/footer"); -%>